h1{
    margin: 10px 0 20px 0;
    font-weight: 700;
}

input{
    width: 100%;

}
.items-container .col-4{
    width: 440px;
}
.items-container {
    margin-left: 8%;
    margin-right: auto;
    text-align: left;
    
}
.items-container .row{

    margin-top: 10px;
}
.container{
    margin-top: 10px;
}
button{
    width: 80px;
}

.items-container .col-2{
    text-align: center;
    width: 220px;
    margin-left: -0.5%;
}